#root {
  max-width: 1280px;
  padding: 1rem;
  margin: 0 auto;
}

.navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}
.nav-links {
  display: flex;
  gap: 2rem;
  align-items: center;
}
