.hero-image {
  position: relative;
  margin-bottom: 6rem;
}

.hero-image img {
  width: 100%;
  height: 600px;
}

.hero-text {
  position: absolute;
  width: 400px;
  top: 0;
  right: 0;
  padding: 2rem;
}

.map-container {
  display: flex;
}

@media screen and (min-width: 768px) {
  .cards-wrapper .card-container:nth-of-type(odd) {
    flex-direction: row-reverse;
  }
}
